@import "../../index";

.Directions-slice {
    margin-bottom: 80px;

    .Directions-slice-container {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;


        .Directions-slice__info__header {
            @include font-title-italic;
            margin-bottom: 8px;
        }

        .Directions-slice__info__title {
            margin-bottom: 33px;
            width: 580px;
            @include font-title;
        }

        .Directions-slice__info__description {
            margin-bottom: 24px;
            width: 580px;
        }

        .Directions-slice__info__button {


            .Directions-slice__info__button__stylebtn {
                color: $color-white;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 16px;
                text-align: left;
                gap: 32px;
                width: 181px;
                border-radius: 10px;
                border: 2px solid rgba(0, 0, 0, 0.20);
                background: $color-primary;
                box-shadow: 2px 2px 8px 0px rgba(255, 255, 255, 0.25), -6px -6px 8px 0px rgba(0, 0, 0, 0.50);
                outline: none;
                transition: 0.2s;
                cursor: pointer;
            }
        }

        .Directions-slice__info__button__stylebtn:hover {
            background: $color-secondary;
        }

        .Directions-slice__info__button__stylebtn:active {
            background: $color-rarly;
            box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.25) inset, 4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
        }

        .Directions-slice__icons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: right;
            gap: 20px;

            .Directions-slice__icons__card:hover .Directions-slice__icons__card__overlay__style {
                position: relative;
                transform: rotate(-30deg);
                z-index: 12;
            }

            .Directions-slice__icons__card:hover .Directions-slice__icons__card__overlay {
                background: rgba(0, 0, 0, 0.6);
            }

            .Directions-slice__icons__card {
                width: 180px;
                height: 180px;
                border-radius: 10px;
                box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25),
                    -4px -4px 8px 0px rgba(0, 0, 0, 0.5);
                z-index: 11;
                position: relative;
                transition: 0.3s;
                cursor: pointer;

                .Directions-slice__icons__card__style {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                }

                .Directions-slice__icons__card__overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                    transition: 0.3 ease;
                    background: rgba(0, 0, 0, 0.8);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    z-index: 12;
                }
            }

            .Directions-slice__icons__card__overlay__style {
                position: relative;
                z-index: 99;
                transition: all 0.3s;
                width: 70%;
            }
        }
    }
}

.active {
    scale: (1.1);

    .Directions-slice__icons__card__overlay {
        opacity: 0 !important;
    }
}