@import "../../index";

.Directions-slice {
	margin-bottom: 80px;

	&-container {
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		gap: 40px;
		justify-content: space-between;
		flex-direction: row;
	}

	&__info {
		&__header {
			@include font-title-italic;
			margin-bottom: 8px;
		}

		&__title {
			margin-bottom: 32px;
			width: auto;
			@include font-title;

			text-transform: none;
			color: $color-primary;
		}

		&__description {
			margin-bottom: 24px;
			width: 480px;
			font-size: 20px;
			margin-bottom: 24px;
			line-height: 130%;
		}

		&__button {
			&__stylebtn {
				font-weight: 500;
				display: inline-flex;
				justify-content: space-between;
				align-items: center;
				padding: 8px 16px;
				text-align: left;
				gap: 32px;
				width: 181px;
				border-radius: 10px;
				border: 2px solid rgba(0, 0, 0, 0.2);
				background: $color-primary;
				outline: none;
				color: $color-white;
				font-family: Montserrat;
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				cursor: pointer;
				transition: 0.3s;
			}

			&__stylebtn:hover {
				background: $color-secondary;
			}

			&__stylebtn:active {
				background: $color-rarly;
				box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.25) inset,
					4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
			}
		}
	}

	&__icons {
		display: flex;
		flex-wrap: wrap;
		align-content: start;
		align-items: center;
		justify-content: center;
		column-gap: 20px;
		row-gap: 20px;
	}
}


@media (max-width: $breakpoint_xll) {
	.Directions-slice {
		&__icons {

			column-gap: 8px;
			row-gap: 8px;
		}
	}
}

@media (max-width: $breakpoint_xl) {
	.Directions-slice {
		.Directions-slice-container {
			flex-direction: column !important;
			row-gap: 68px !important;


		}

		&__icons {
			column-gap: 8px !important;
			row-gap: 8px !important;
			order: 2;
		}

		&__info {
			order: 1;
		}
	}
}


@media (max-width: $breakpoint_s) {
	.Directions-slice {
		&__info {


			&__description {

				width: 100% !important;

			}
		}
	}
}