@import "../../index.scss";

.squad-card {
	background-color: $color-dark;
	border-radius: 15px;
	outline: 2px solid $color-primary;
	box-sizing: border-box;
	display: flex;
	padding: 20px 20px 40px 20px;
	flex-direction: column;
	gap: 20px;
	width: 280px;
	cursor: pointer;

	&__img {
		width: 120px;
		height: 120px;
		border-radius: 10px;
		border: 2px solid $color-primary;
	}
	&__name {
		color: $color-background;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	&__description {
		display: none;
		color: $color-background;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	&__button {
		display: none;
		background: none;
		box-sizing: content-box;
		color: $color-background;
		padding: 8px 16px;
		border-radius: 10px;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		outline: 2px solid $color-background;
		max-width: 100px;
		border: none;
		cursor: pointer;
	}
}

.squad-card_active {
	background: $color-primary;
	cursor: default;
	.squad-card__button {
		display: block;
	}
	.squad-card__description {
		display: inline;
	}
}
