@import "../../index";

.Gallery-slice {
	margin-bottom: 80px;

	&-container {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	&__title {
		@include font-title-italic;
		margin-bottom: 8px;
	}
	&__albums {
		display: flex;
		flex-direction: column;
		gap: 20px;
		&_row {
			display: grid;
			grid-template-areas: "b b a c" "b b d e";
			gap: 20px;
		}
	}
	&__albums:nth-child(2) {
		&_row {
			display: grid;
			grid-template-areas: "b b a c" "b b d e";
			gap: 20px;
		}
	}
}

.AlbumCard__photo {
	object-fit: cover;
	border-radius: 15px;
}

.Gallery-slice__albums_row > .AlbumCard:nth-child(5n + 1) {
	grid-area: b;
}

.Gallery-slice__albums {
	.Gallery-slice__albums_row:nth-child(odd) {
		display: grid;
		grid-template-areas: "a c b b" "d e b b";
		gap: 20px;
	}
}
