@import "../../index";

.Promo-slice {
	min-height: 740px;
	background-image: url(../../../public/img/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	@include marginslice(80px);
	margin-top: -80px;

	&__info {
		padding-top: 237px;
		max-width: 390px;
		color: $color-white;
		font-family: Gotham;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
	}

	&__button {
		padding-top: 40px;

		&__stylebtn {
			color: $color-white;
			font-family: Montserrat;
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			width: 235px;

			letter-spacing: 0.48px;
			text-transform: uppercase;
			padding: 9px 19px;
			border-radius: 10px;
			border: 3px solid $color-primary;
			background: transparent;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			transition: 0.3s;
		}
		&__stylebtn:hover {
			background-color: $color-secondary;
		}

		&__stylebtn:active {
			background: $color-rarly;
			box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.25) inset,
				4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
		}
	}
}

@media (max-width: $breakpoint_s) {
	.Promo-slice {
		@include marginslice(40px);

		&__info {
			font-size: 36px !important;
		}
	}
}
