@import "../../index";


.AlbumCard {
	position: relative;

	&__photo {
		width: 280px;
		height: 280px;
		object-fit: cover;
		border-radius: 15px;

	}

	&__title {
		position: absolute;
		bottom: 16px;
		left: 16px;
		color: $color-background;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
	}
}