@import "../../index";

.Team-slice {
	margin-bottom: 80px;

	&-container {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	&__title {
		margin-bottom: 32px;
		width: auto;
		@include font-title;
		text-align: center;
		text-transform: none;
		color: $color-primary;
	}

	&__PeopleCards {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		row-gap: 20px;
		column-gap: 20px;
	}
}