@import "../../index";

.Statistics-slice {
	@include marginslice(80px);

	.Statistics-slice-container {
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 24px;
		column-gap: 24px;
	}
}

@media (max-width: $breakpoint_s) {
	.Statistics-slice {
		@include marginslice(40px);
	}
}

@media (max-width: $breakpoint_l) {}