@import "../../index";

.Video-slice {
	@include marginslice(80px);
	z-index: 1;

	&__style {
		width: 100%;
	}
}

@media (max-width: $breakpoint_s) {
	.Video-slice {
		@include marginslice(40px);
	}
}
