@import "../../../index.scss";

.News-slice {
	@include marginslice(80px);

	.News-slice__header-slice {
		@include font-title-italic;
	}

	.News-slice__slider {
		.News-slice__slider__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.News-slice__slider__header__info {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 16px;

				.News-slice__slider__header-title {
					padding-top: 8px;
					width: auto;
					@include font-title;
					text-transform: none;
					color: $color-primary;
				}

				.News-slice__slider__header-icons {
					display: flex;
					justify-content: space-between;
					flex-direction: row;
					gap: 16px;
					align-items: center;

					.News-slice__slider__header-icons__tg,
					.News-slice__slider__header-icons__vk {
						cursor: pointer;
						fill: $color-dark;
					}

					.News-slice__slider__header-icons__tg:hover,
					.News-slice__slider__header-icons__vk:hover {
						path {
							fill: $color-secondary;
						}
					}

					.News-slice__slider__header-icons__tg:active,
					.News-slice__slider__header-icons__vk:active {
						path {
							fill: $color-primary;
						}
					}
				}
			}

			.News-slice__slider__header-arrows {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				gap: 16px;

				.News-slice__slider__header-arrows_left {
					display: flex;
					width: 50px;
					height: 50px;
					justify-content: center;
					align-items: center;
					border-radius: 10px;

					cursor: pointer;
					border: 1px solid rgba(0, 0, 0, 0.2);
					background: $color-white;
				}

				.News-slice__slider__header-arrows_right {
					display: flex;
					width: 50px;
					height: 50px;
					justify-content: center;
					align-items: center;
					border-radius: 10px;
					cursor: pointer;
					border: 1px solid rgba(0, 0, 0, 0.2);
					background: $color-white;
				}

				.News-slice__slider__header-arrows_left:hover,
				.News-slice__slider__header-arrows_right:hover {
					svg path {
						fill: $color-secondary;
					}
				}

				.News-slice__slider__header-arrows_left:active,
				.News-slice__slider__header-arrows_right:active {
					svg path {
						fill: $color-rarly;
					}
				}
			}
		}

		.News-slice__slider__content {
			margin-top: 24px;
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;
		}
	}
}

@media (max-width: $breakpoint_xxl) {
	.News-slice {
		.News-slice__slider {
			.News-slice__slider__content
				> .News-slice__slider__card:nth-child(1n + 4) {
				display: none !important;
			}

			.News-slice__slider__content {
				justify-content: center !important;
			}
		}
	}
}

@media (max-width: $breakpoint_xl) {
	.News-slice {
		.News-slice__slider {
			.News-slice__slider__content
				> .News-slice__slider__card:nth-child(1n + 3) {
				display: none !important;
			}

			.News-slice__slider__content {
				justify-content: center !important;
			}

			.News-slice__slider__header {
				flex-direction: column !important;
				row-gap: 8px !important;

				.News-slice__slider__header-arrows {
					justify-content: center !important;
				}
			}
		}
	}
}

@media (max-width: $breakpoint_s) {
	.News-slice {
		@include marginslice(40px);

		.News-slice__slider {
			.News-slice__slider__content
				> .News-slice__slider__card:nth-child(1n + 2) {
				display: none !important;
			}

			.News-slice__slider__content {
				margin-top: 16px !important;
			}

			.News-slice__slider__header {
				.News-slice__slider__header__info {
					.News-slice__slider__header-title {
						font-size: 24px !important;
					}

					.News-slice__slider__header-icons {
						.News-slice__slider__header-icons__tg {
							width: 40px;
							height: 40px;
						}

						.News-slice__slider__header-icons__vk {
							width: 40px;
							height: 40px;
						}
					}
				}
			}
		}
	}
}
