@import "../../index.scss";
.Masonry-grid {
	gap: 20px !important;
	div {
		gap: 20px !important;
	}
}

@media (max-width: $breakpoint_sm) {
	.Masonry-grid {
		div {
			gap: 16px !important;
		}
	}
}
