@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: local("Gotham"),
    url("./fonts/Gotham/gotham_bold.otf") format("truetype");
}


// Fonts
@mixin font-title {
  font-family: Gotham;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: capitalize;
}

@mixin font-title-italic {
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

// Colors
$color-dark: #1a1a1a;
$color-white: #ffffff;
$color-primary: #0078B7;
$color-secondary: #0096C8;
$color-rarly: #033E8A;


body {
  margin: 0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-dark;
  color: $color-white;
}

a,
button {
  color: $color-white;
}

a:hover,
button:hover {
  color: $color-primary;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 72px;
  padding-right: 72px;
}


.Promo-slice {
  min-height: 740px;
  background-image: url(../public/img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 80px;

  .Promo-slice__info {
    padding-top: 151px;
    max-width: 390px;
    color: $color-white;
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

  .Promo-slice__button {
    padding-top: 40px;

    .Promo-slice__button__stylebtn {
      color: $color-white;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      width: 235px;
      height: 47px;
      text-align: left;
      line-height: normal;
      letter-spacing: 0.48px;
      text-transform: uppercase;
      padding: 9px 19px;
      border-radius: 10px;
      border: 3px solid $color-primary;
      background: transparent;
      outline: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
    }
  }

  .Promo-slice__button__stylebtn:hover {
    background-color: $color-secondary;
  }

  .Promo-slice__button__stylebtn:active {
    background: $color-rarly;
    box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.25) inset, 4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
  }
}

.Header-slice {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;

  .Header-slice__headerLogo {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .Header-slice__headerLinks {

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }

    a {
      text-decoration: none;
      user-select: none;
    }

    a:hover {
      color: $color-secondary;
    }
  }

  .Header-slice__headerButton {
    display: flex;
    align-items: center;

    .Header-slice__headerButton__button {
      display: flex;
      padding: 6px 16px;
      width: 129px;
      height: 36px;
      border-radius: 10px;
      border-color: $color-primary;
      border-bottom: $color-primary;
      border-right: $color-primary;
      background: $color-primary;
      cursor: pointer;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      align-items: center;
      font-weight: 400;
      line-height: normal;
    }

    .Header-slice__headerButton__button:hover {
      border-radius: 10px;
      background: $color-secondary;
      border-color: $color-secondary;
    }

    .Header-slice__headerButton__button:active {
      background: $color-rarly;
      box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.25) inset, 4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
    }
  }
}

.Statistics-slice {
  margin-bottom: 80px;

  .Statistics-slice-container {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .Statistics-slice__title {
      color: $color-white;
      font-family: Montserrat;
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      line-height: 130%;
      text-align: left;
    }
  }

  .Statistics-slice__directions,
  .Statistics-slice__detachment,
  .Statistics-slice__fighters,
  .Statistics-slice__years {
    display: flex;
    flex-direction: column;
  }
}

.Rso-slice {
  margin-bottom: 80px;

  .Rso-slice-container {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .Rso-slice__info__header {
      @include font-title-italic;
      margin-bottom: 8px;
    }

    .Rso-slice__info__name {
      margin-bottom: 33px;
      width: 580px;
      @include font-title;
    }

    .Rso-slice__info__description {
      width: 576px;
      margin-bottom: 24px;
    }

    .Rso-slice__info__button {

      .Rso-slice__info__button__stylebtn {
        font-weight: 500;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        text-align: left;
        gap: 32px;
        width: 210px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.20);
        background: $color-primary;
        box-shadow: 2px 2px 8px 0px rgba(255, 255, 255, 0.25), -6px -6px 8px 0px rgba(0, 0, 0, 0.50);
        outline: none;
        color: $color-white;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        transition: 0.3s;
      }
    }

    .Rso-slice__info__button__stylebtn:hover {
      background: $color-secondary;
    }

    .Rso-slice__info__button__stylebtn:active {
      background: $color-rarly;
      box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.25) inset, 4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .Rso-slice__buttons {
      display: flex;
      flex-direction: column;
      gap: 34px;
      justify-content: center;

      .Rso-slice__button__love {
        padding-left: 115px;
      }

      .Rso-slice__button__work {
        padding-left: 115px;
      }

      .Rso-slice__button__love__stylebtn {
        width: 244px;
        padding: 8px 32px 8px 16px;
        text-align: right;
        gap: 16px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: $color-primary;
        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25), -4px -4px 8px 0px rgba(0, 0, 0, 0.50);
        color: $color-white;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        text-transform: lowercase;
        background-image: url(../public/img/ico-love.png);
        background-repeat: no-repeat;
        background-position: 16px;
        outline: none;
      }

      .Rso-slice__button__friend__stylebtn {
        width: 244px;
        padding: 8px 32px 8px 16px;
        text-align: right;
        gap: 16px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: $color-primary;
        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25), -4px -4px 8px 0px rgba(0, 0, 0, 0.50);
        color: $color-white;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        text-transform: lowercase;
        background-image: url(../public/img/ico-friend.png);
        background-repeat: no-repeat;
        background-position: 16px;
        outline: none;
      }

      .Rso-slice__button__work__stylebtn {
        width: 244px;
        padding: 8px 32px 8px 16px;
        text-align: right;
        gap: 16px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: $color-primary;
        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25), -4px -4px 8px 0px rgba(0, 0, 0, 0.50);
        color: $color-white;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        text-transform: lowercase;
        background-image: url(../public/img/ico-job.png);
        background-repeat: no-repeat;
        background-position: 16px;
        outline: none;
      }
    }
  }
}

.Video-slice {
  margin-bottom: 80px;

  .Video-slice__style {
    width: 100%;

  }
}

.Directions-slice {
  margin-bottom: 80px;

  .Directions-slice-container {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;


    .Directions-slice__info__header {
      @include font-title-italic;
      margin-bottom: 8px;
    }

    .Directions-slice__info__name {
      margin-bottom: 33px;
      width: 580px;
      @include font-title;
    }

    .Directions-slice__info__description {
      margin-bottom: 24px;
      width: 580px;
    }

    .Directions-slice__info__button {


      .Directions-slice__info__button__stylebtn {
        color: $color-white;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        text-align: left;
        gap: 32px;
        width: 181px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.20);
        background: $color-primary;
        box-shadow: 2px 2px 8px 0px rgba(255, 255, 255, 0.25), -6px -6px 8px 0px rgba(0, 0, 0, 0.50);
        outline: none;
        transition: 0.2s;
        cursor: pointer;
      }
    }

    .Directions-slice__info__button__stylebtn:hover {
      background: $color-secondary;
    }

    .Directions-slice__info__button__stylebtn:active {
      background: $color-rarly;
      box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.25) inset, 4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .Directions-slice__icons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: right;
      gap: 20px;

      .Directions-slice__icons__card:hover .Directions-slice__icons__card__overlay__style {
        position: relative;
        transform: rotate(-30deg);
        z-index: 12;
      }

      .Directions-slice__icons__card:hover .Directions-slice__icons__card__overlay {
        background: rgba(0, 0, 0, 0.6);
      }

      .Directions-slice__icons__card {
        width: 180px;
        height: 180px;
        border-radius: 10px;
        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25),
          -4px -4px 8px 0px rgba(0, 0, 0, 0.5);
        z-index: 11;
        position: relative;
        transition: 0.3s;
        cursor: pointer;

        .Directions-slice__icons__card__style {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }

        .Directions-slice__icons__card__overlay {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 1;
          transition: 0.3 ease;
          background: rgba(0, 0, 0, 0.8);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          z-index: 12;
        }
      }

      .Directions-slice__icons__card__overlay__style {
        position: relative;
        z-index: 99;
        transition: all 0.3s;
      }
    }
  }
}

.News-slice {
  margin-bottom: 80px;

  .News-slice__header-slice {
    @include font-title-italic;
  }

  .News-slice__slider {

    .News-slice__slider__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .News-slice__slider__header__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;

        .News-slice__slider__header-name {
          padding-top: 8px;
          width: auto;
          @include font-title;
          text-transform: none;
        }

        .News-slice__slider__header-icons {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          gap: 16px;

          .News-slice__slider__header-icons__tg {
            fill: $color-primary;
          }

          .News-slice__slider__header-icons__vk {
            fill: $color-primary;
          }
        }
      }

      .News-slice__slider__header-arrows {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 16px;

        .News-slice__slider__header-arrows_left {
          display: flex;
          width: 50px;
          height: 50px;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.20);
          background: $color-dark;
          background-image: url(../public/img/arrow-right.png);
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          box-shadow: 1px 1px 8px 0px rgba(255, 255, 255, 0.25), -4px -4px 8px 0px rgba(0, 0, 0, 0.50);
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }

        .News-slice__slider__header-arrows_left:hover {
          background-image: url(../public/img/arrow-right_light.png);
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }

        .News-slice__slider__header-arrows_right {
          display: flex;
          width: 50px;
          height: 50px;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.20);
          background: $color-dark;
          box-shadow: 1px 1px 8px 0px rgba(255, 255, 255, 0.25), -4px -4px 8px 0px rgba(0, 0, 0, 0.50);
          background-image: url(../public/img/arrow-right.png);
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center center;
        }

        .News-slice__slider__header-arrows_right:hover {
          background-image: url(../public/img/arrow-right_light.png);
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }

    .News-slice__slider__content {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;

      .News-slice__slider__card {
        width: 280px;
        height: 410px;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: $color-dark;
        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 8px 0px rgba(0, 0, 0, 0.50) inset;
        cursor: pointer;

        .News-slice__slider__card__photo {
          width: 280px;
          height: 150px;
          border-radius: 15px 15px 0px 0px;
          background: url(../public/img/new__photo.png);
          transition: 0.4s;
          box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset, -4px -4px 8px 0px rgba(0, 0, 0, 0.50) inset;
        }

        .News-slice__slider__card__name {
          margin-top: 8px;
          padding-left: 12px;
          font-size: 24px;
          font-weight: 500;
        }

        .News-slice__slider__card__description {
          margin-top: 12px;
          padding-left: 12px;
          padding-bottom: 23px;
        }
      }

      .News-slice__slider__card:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 120, 183, 0.25);
      }

      .News-slice__slider__card:active {
        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25), -4px -4px 8px 0px rgba(0, 0, 0, 0.50);
      }
    }
  }
}

.Footer-slice {


  .Footer-slice__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;

    .Footer-slice__content__links,
    .Footer-slice__content__contact {
      font-size: 22px;
      font-weight: 600;

      .Footer-slice__content__links__nav,
      .Footer-slice__content__contact_nav {
        font-weight: 500;

        ul {
          padding-top: 16px;
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-weight: 400;
        }

        a {
          text-decoration: none;
          user-select: none;
        }

        a:hover {
          color: $color-secondary;
        }
      }
    }

    .Footer-slice__content__info {
      margin-top: -10px;

      .Footer-slice__content__info__name {
        max-width: 578px;
        font-family: Gotham;
        font-size: 48px;
        font-weight: 700;
        line-height: 130%;
      }

      .Footer-slice__content__info__button {
        padding-top: 24px;

        .Footer-slice__content__info__button-style {
          font-size: 24px;
          font-weight: 500;
          font-family: Montserrat;
          width: 235px;
          line-height: normal;
          letter-spacing: 0.48px;
          text-transform: uppercase;
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          padding: 9px 19px;
          border-radius: 10px;
          border: 3px solid rgba(0, 0, 0, 0.20);
          box-shadow: 2px 2px 8px 0px rgba(255, 255, 255, 0.25), -6px -6px 8px 0px rgba(0, 0, 0, 0.50);
          background-color: $color-dark;
          outline: none;
          color: $color-white;
          transition: 0.3s;
          cursor: pointer;
        }

        .Footer-slice__content__info__button-style:hover {
          background: #0096C8;
        }

        .Footer-slice__content__info__button-style:active {
          background: #033E8A;
          box-shadow: -4px -4px 8px 0px rgba(255, 255, 255, 0.25) inset, 4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
        }
      }
    }
  }

  .Footer-slice__copyright {
    padding-top: 60px;
    padding-bottom: 16px;

    .Footer-slice__copyright__text {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.32px;
      text-transform: uppercase;
    }
  }
}

.active {
  scale: (1.1);

  .Directions-slice__icons__card__overlay {
    opacity: 0 !important;
  }
}