@font-face {
	font-family: "Montserrat";
	font-weight: normal;
	src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 300;
	src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 800;
	src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham";
	font-weight: 700;
	src: local("Gotham"), url("./fonts/Gotham/gotham_bold.otf") format("truetype");
}

// Fonts
@mixin font-title {
	font-family: Gotham;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	text-transform: capitalize;
}

@mixin font-title-italic {
	font-family: Montserrat;
	font-size: 20px;
	font-style: italic;
	font-weight: 500;
	line-height: normal;
}

// Colors
$color-dark: #272727;
$color-white: #ffffff;
$color-background: #f7f7f7;
$color-primary: #0078b7;
$color-secondary: #0096c8;
$color-rarly: #033e8a;

@mixin marginslice($px) {
	margin-bottom: $px;
}

$breakpoint_xxl: 1328px;
$breakpoint_xll: 1290px;
$breakpoint_xl: 1054px;
$breakpoint_l: 905px;
$breakpoint_m: 750px;
$breakpoint_s: 642px;
$breakpoint_sm: 500px;

body {
	margin: 0;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	overflow-x: hidden;
	font-weight: 400;
	line-height: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $color-background;
	color: $color-dark;
}

a,
button {
	color: $color-dark;
}

a:hover {
	color: $color-primary;
}

.container {
	max-width: 1180px;
	margin: 0 auto;

	padding-left: 72px;
	padding-right: 72px;
}

@media (max-width: $breakpoint_m) {
	.container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

svg:hover {
	path {
		fill: $color-secondary;
	}
}

svg:active {
	path {
		fill: $color-rarly;
	}
}
