@import "../../index";

.News-slice {
	@include marginslice(80px);

	.News-slice__header-slice {
		@include font-title-italic;
		margin-bottom: 8px;
	}

	.News-slice__slider {
		&__content {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 20px;
		}
	}
}

@media (max-width: $breakpoint_xxl) {
	.News-slice {
		&__slider {
			&__content>.News-slice__slider__card:nth-child(1n + 4) {
				display: none !important;
			}

			&__content {
				justify-content: center !important;
			}
		}
	}
}

@media (max-width: $breakpoint_xl) {
	.News-slice {
		&__slider {
			&__content>.News-slice__slider__card:nth-child(1n + 3) {
				display: none !important;
			}

			&__content {
				justify-content: center !important;
			}

			&__header {
				flex-direction: column !important;
				row-gap: 8px !important;

				&-arrows {
					justify-content: center !important;
				}
			}
		}
	}
}

@media (max-width: $breakpoint_s) {
	.News-slice {
		@include marginslice(40px);

		.News-slice__slider {
			&__content>.News-slice__slider__card:nth-child(1n + 2) {
				display: none !important;
			}

			&__content {
				margin-top: 16px !important;
			}

			&__header {
				&-title {
					font-size: 24px !important;
				}

				&-icons {
					&__tg {
						width: 40px;
						height: 40px;
					}

					&__vk {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
}